<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Contatos</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body>

    <h1>Cadastro de Contatos:</h1>
    <form method="POST">
        Nome Completo: <input type="text" value="" name="nomeCompleto"/>
        Telefone: <input type="number" value="" name="telefone"/>

        <button type="submit">Salvar</button>

    </form>

    <h1>Json com a lista de contatos:</h1>
    <h3><a href="http://localhost:8080/contatos">Lista de Contatos JSON</a></h3>

</body>

</html>